*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.spacemenham{
    background-color: blue;
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.spacetrace{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.spacetrace .tra{
    height: 8px;
    width: 90px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}
.spacetrace .tra:nth-child(1){
    top:26px;
    transform: rotate(0);
}
.spacetrace .tra:nth-child(2){
    top:46px;
    transform: rotate(0);
}
.spacetrace .tra:nth-child(3){
    top:66px;
    transform: rotate(0);
}

#ham{
    display: none;
}
#ham:checked + .spacetrace .tra:nth-child(1){
    transform: rotate(45deg);
    top: 47px;
}
#ham:checked + .spacetrace .tra:nth-child(2){
    transform: rotate(0);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}
#ham:checked + .spacetrace .tra:nth-child(3){
    transform: rotate(-45deg);
    top: 48px;
}